/* --------- Font Facing  ------------ */

@font-face {
  font-family: 'PoetsenOne-Regular';
  src: url('../fonts/PoetsenOne-Regular.eot');
  src: url('../fonts/PoetsenOne-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/PoetsenOne-Regular.woff') format('woff'),
       url('../fonts/PoetsenOne-Regular.ttf') format('truetype'),
       url('../fonts/PoetsenOne-Regular.svg#PoetsenOne-Regular') format('svg');
}

/* --------- Global Stuff ------------ */

body{
	font-family: 'PoetsenOne-Regular';
	font-size: 12px;
	font-weight: 100;
	color: #946837;
	background: #4A91C9;

}

a{
	color: #966836;
}

a.no-ul{
	text-decoration: none;
}

p{
	margin: 7px 0;
}

#page-container{
	width: 648px;
	height: 806px;
	background:url(../img/buch_bg.png);
	float: right;

	padding: 65px 145px 0 176px;
}

#game-logo-container{
	position: relative;

	width: 190px;
	height: 205px;
}

	#game-logo{
		position: absolute;
		left: -114px;
		top: -68px;

		width: 395px;
		height: 372px;
		background:url(../img/logo_wshadow.png);

		pointer-events: none;
	}


input[type="text"], input[type="password"]{
	width: 149px;
	height: 29px;
	background: url(../img/register_inputbox.png);
	border: 0;
	outline: none;
	color: #fff;
	padding: 0 8px;
	font-family: 'PoetsenOne-Regular';	
}	

textarea{
	font-family: 'PoetsenOne-Regular';	
}

::-webkit-input-placeholder { /* WebKit browsers */
	color: #CEB37C;
	font-family: 'PoetsenOne-Regular';
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: #CEB37C;
	font-family: 'PoetsenOne-Regular';	
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: #CEB37C;
	font-family: 'PoetsenOne-Regular';	
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
	color: #CEB37C;
	font-family: 'PoetsenOne-Regular';	
}


/* --------- Headings ------------ */

h1{
	font-size: 14px;
	font-weight: bold;
}

.strong-h{
	font-size: 18px;
	font-weight: 600;
}

/* --------- Ingame Head -------------------- */

#right-top-content{
	margin-top: -8px;
	width: 500px;
	float: right;
}

#ingame-head{
	width: 500px;
	height: 130px;
	background:url(../img/head_bg.png);
}

/* -------------- Item Box  ----------------- */

#item-box{
	width: 502px;
	height: 74px;
	background:url(../img/itembox_bg.png);

	margin-top: 4px;
}


/* ---------- Current Team Box -------------- */

#current-team-box{
	width: 502px;
	height: 96px;
	margin-top: 3px;
}

	#current-team-box .box{
		width: 96px;
		height: 96px;
		background:url(../img/hero_box_unhovered.png);
		float: left;
		margin-right: 5px;		
	}

	#current-team-box .box:hover{
		width: 96px;
		height: 96px;
		background:url(../img/hero_box_hovered.png);
		float: left;
		margin-right: 5px;		
	}

	#current-team-box .box:last-child{
		margin-right: 0;
	}



/* --------- Top Content Default ------------ */



#game-description{
	width: 240px;
	height: 205px;

	margin: 0 12px 0 12px;

	text-align: center;
}

/* --------- Login Box ------------ */

#login-box{
	width: 165px;
	height: 175px;
	background:url(../img/login_box.png);

	padding: 15px 6px;
}

.login-submit{
	width: 155px;
	height: 39px;
	border: 0;
	cursor: pointer;
	background:url(../img/button_red_small.png);
	margin-left: 4px;
	margin-top: 10px;
	color: #fff;
	font-family: 'PoetsenOne-Regular';
	font-size: 15px;
}

/* --------- Messages and Errors -------- */

#message-ui{
	width: 374px;
	height: 177px;
	background:url(../img/error_general_box.png);
	margin: 0 auto;
	margin-top: 30px;
	position: relative;
	padding: 40px;
	padding-top: 80px;
	padding-right: 55px;
	text-align: center;	
	font-size: 30px;
}

	#message-ui-error{
		width: 261px;
		height: 32px;
		background: url(../img/error_general_titel.png);
		position: absolute;
		top: 26px;
		left: 25px;
	}

	#message-ui-button{
		width: 389px;
		height: 47px;
		background: url(../img/error_general_button_back.png);
		position: absolute;
		display: block;
		bottom: 40px;
		left: 35px;
		text-align: center;
		color: #fff;
		text-decoration: none;
		font-size: 23px;
		line-height: 1.8;
	}

/* --------- Javascript UI -------------- */

#flyout{
	width: 693px;
	height: 187px;
	background:url(../img/message_modal_box.png);
	position: absolute;
	left: 50%;
	margin-left: -346px;
	top: -10%;
	z-index: 10;
	opacity: 0;
}

/* --------- Main Navigation ------------ */

#main-nav{
	width: 142px;
	height: 297px;
	background:url(../img/navi_bg.png);

	padding-top: 3px;
	float: left;
}

	#main-nav #nav-header{
		width: 144px;
		height: 28px;
		background:url(../img/navi_head.png);
		color: #822a24;
		padding: 10px 0;
		text-align: center;
	}

	ul#main-nav-list{
		list-style-type: none;
		padding-left: 7px;
		margin-top: 4px;
	}

	ul#main-nav-list li{
		line-height: 23px;
		font-size: 12px;
		color: #823120;
		font-size: 13px;

		padding: 0 0 12px 37px;
		margin: -9px 0 5px 0;
	}

	.circle-count{
		width: 17px;
		height: 17px;
		border-radius: 50%;
		background: #BB2820;
		border: 1px solid #fff;
		color: #fff;
		text-align: center;
		line-height: 1.3;
		position: absolute;
		margin-left: -15px;
		margin-top: -7px;
	}

	ul#main-nav-list li:last-child{
		margin-bottom: 0;
	}	

		ul#main-nav-list li a{
			text-decoration: none;
			color: #823120;
		}

		ul#main-nav-list li a:hover{
			color: #B33C26;
		}


		ul#main-nav-list li.nav-dashboard{ 
			background-image: 
				url(../img/navi_shadow.png), 
				url(../img/icon_1.png); 
			background-position: 0 26px, 8px 0;
			background-repeat: no-repeat; 
		}
		ul#main-nav-list li.nav-messages{ 
			background-image: 
				url(../img/navi_shadow.png), 
				url(../img/icon_2.png); 
			background-position: 0 26px, 8px 0;
			background-repeat: no-repeat; 
		}
		ul#main-nav-list li.nav-team{ 
			background-image: 
				url(../img/navi_shadow.png), 
				url(../img/icon_3.png); 
			background-position: 0 26px, 8px 0;
			background-repeat: no-repeat; 
		}
		ul#main-nav-list li.nav-arena{ 
			background-image: 
				url(../img/navi_shadow.png), 
				url(../img/icon_4.png); 
			background-position: 0 26px, 8px 0;
			background-repeat: no-repeat; 
		}
		ul#main-nav-list li.nav-world{ 
			background-image: 
				url(../img/navi_shadow.png), 
				url(../img/icon_5.png); 
			background-position: 0 26px, 8px 0;
			background-repeat: no-repeat; 
		}
		ul#main-nav-list li.nav-guild{ 
			background-image: 
				url(../img/navi_shadow.png), 
				url(../img/icon_6.png); 
			background-position: 0 26px, 8px 0;
			background-repeat: no-repeat; 
		}
		ul#main-nav-list li.nav-friends{ 
			background-image: 
				url(../img/navi_shadow.png), 
				url(../img/icon_6.png); 
			background-position: 0 26px, 8px 0;
			background-repeat: no-repeat; 
		}
		ul#main-nav-list li.nav-market{ 
			background-image: 
				url(../img/icon_6.png); 
			background-position: 8px 0;
			background-repeat: no-repeat; 
		}
		

/* --------- Book Content------------ */

#book-content{
	position: relative;

	width: 621px;
	height: 461px;
	background:url(../img/buch_content_big.png);

	margin-top: 15px;
	padding: 60px 15px 0 15px;
}

	#page-headline{
		position: absolute;
		pointer-events: none;

		width: 663px;
		height: 99px;
		background: url(../img/buch_content_big_titel.png);

		left: -6px;
		top: -16px;
	}

#book-content-ingame{
	position: relative;
	width: 620px;
	height: 384px;
	background: url(../img/content_bg.png);
	margin-top: 12px;

	padding: 40px 15px 0 15px;
}


/* ----------- Message System ------------- */

#inbox-wrapper{
	width: 611px;
	height: 343px;
	background:url(../img/message_list_box.png);
	margin-left: 5px;
}

#inbox-wrapper-read{
	width: 576px;
	height: 306px;
	background:url(../img/message_show_box.png);
	padding: 24px 20px 11px 20px;
}

#read-message-profile{
	width: 83px;
	float: left;
	text-align: center;
	margin-top: 120px;
}

#read-message-profile-link{
	text-decoration: none;
}

#read-message-right{
	width: 491px;
	float: left;
}

#read-message-subject-wrapper{
	width: 491px;
	height: 33px;
	background:url(../img/message_show_title_bg.jpg);
}

#read-message-subject{
	float: left;
	font-size: 17px;
	margin-top: 8px;
	margin-left: 8px;
}

#read-message-date{
	float:right;
	margin-top: 11px;
	margin-right: 8px;
}

#read-message-text{
	width: 436px;
	height: 163px;
	background:url(../img/message_show_textbox.png);
	margin-top: 7px;
	padding: 27px;
}

#read-message-inner-text{
	height: 145px;
	line-height: 1.7;
	overflow: auto;
}

#inbox-inner-messages{
	padding: 30px 10px;
	height: 230px;
}

#inbox-message-description{
	width: 300px;
	color: #EAD09D;
	font-size: 11px;
	margin-left: 4px;
	float: left;
}

#inbox-write-message{
	display: block;
	width: 146px;
	height: 37px;
	background: url(../img/message_button_write.png);
	float: left;
	margin-top: 5px;
	margin-left: 25px;
}

.unread .inbox-inner-message{
	color: #fff;
}

.inbox-inner-message{
	padding: 7px;
	color: #966838;
}

.inbox-inner-item{
	display: inline-block;
}

.inbox-message{
	width: 100%;
	height: 27px;
	background: #ead1a0;
	margin-bottom: 4px;
	display: block;
	text-decoration: none;
}

.inbox-message.unread{
	background: #b53939;
}

#write-message-wrapper{
	width: 555px;
	height: 238px;
	background:url(../img/message_write_box_bg.png);
	margin: 0 auto;
	padding: 7px 11px;
}

	#write-message-subject{
		padding: 0;
		width: 266px;
		height: 31px;
		background: url(../img/message_write_input_title.png);
		padding: 0 15px;
		color: #E9D4A9;
		font-size: 15px;
	}

	#write-message-receiver{
		padding: 0;
		width: 202px;
		height: 31px;
		background: url(../img/message_write_input_player.png);
		padding: 0 15px;
		color: #fff;
		font-size: 15px;
		float: right;
	}

	#write-message-textbox{
		width: 534px;
		height: 162px;
		background:url(../img/message_write_textbox.png);
		margin-top: 6px;
		padding: 10px;
		padding-bottom: 15px;
	}

	#write-message-textbox textarea{
		resize: none;
		outline: none;
		width: 96%;
		height: 130px;
		border: 0;
		background: transparent;
		color: #756A54;
	}

	#write-message-wrapper input[type="submit"]{
		width: 578px;
		height: 40px;
		background: url(../img/message_write_button_send.png);
		border: 0;
		display: block;
		margin-left: -12px;
		margin-top: 15px;
		cursor: pointer;
	}

	#write-message-wrapper input[type="submit"]:hover{
		background: url(../img/message_write_button_send_h.png);
	}

	.message-action{
		width: 126px;
		height: 37px;
		display: block;
		border: 0;
		text-decoration: none;
		margin-top: 5px;
	}

	#pass-on{
		background:url(../img/message_show_button_copy_ger.png);
		float: left;
		margin-left: 233px;
	}

	#reply{
		background:url(../img/message_show_button_send_ger.png);
		float: left;
		margin-left: 5px;
	}


#message-dropdown{
	list-style: none;
	width: 75px;
	height: 14px;
	background: url(../img/message_open_action_bar.png);
	padding: 5px;
	float: left;
	cursor: pointer;
	color: #fff;	
}

#message-dropdown-content{
	display: none;
	width: 75px;
	height: 78px;
	background: url(../img/message_open_action_bar_activ.png);
	position: absolute;
	padding: 5px;
	color: #fff;
}

#message-dropdown-content li{
	padding-top: 5px;
	padding-bottom: 5px;
	cursor: pointer;
}

#message-dropdown-arrow{

}




/* --------- Registration Form ------------ */

.input-line{
	margin-bottom: 10px;
}

	.input-line label{
		display: inline-block;
		float: left;
		padding-top: 10px;
		width: 140px;
	}

	.input-line input[type="text"], .input-line input[type="password"]{
		display: inline-block;
	}

.registration-error input[type="text"], .registration-error input[type="password"]{
	background: url(../img/register_input_false.png);
	margin-top: 8px;
	display: block;
	float: left;
}

.registration-error{
	width: 437px;
	height: 46px;
	background:url(../img/register_error_box.png);
	margin-left: 135px;
}

.registration-error .tooltip{
	width: 33px;
	height: 30px;
	background: url(../img/register_qbox.png);
	position: absolute;
	margin-left: 273px;
	margin-top: 10px;
	cursor: help;
}

.registration-error-text{
	color: #ffefcf;
	background:url(../img/register_error_hint.png);
	background-repeat: no-repeat;
	height: 32px;
	display: block;
	float: left;
	padding-left: 25px;
	width: 176px;
	margin-left: 36px;
	margin-top: 8px;
}

#confirmation-box{
	width: 596px;
	height: 104px;
	background:url(../img/register_info_box.png);

	padding: 6px;
	float: left;	

	position: absolute;
	bottom: 30px;
}

.confirmation-block{
	float: left;
}

p.confirmation-paragraph{
	float: left;
	font-size: 12.5px;
}

.confirmation-block .bullet, #registration-success-bottom .bullet{
	width: 7px;
	height: 17px;
	background:url(../img/register_step_circle.png);
	color: #fde1aa;
	float: left;

	font-size: 16px;

	padding: 3px 8px;
	margin-right: 5px;
}

#registration-submit{
	border: 0;
	padding: 0;
	width: 593px;
	height: 35px;
	background: url(../img/register_submit_button.png);
	margin-top: 18px;
	cursor: pointer;
}

#registration-success-box{
	width: 684px;
	height: 262px;
	background:url(../img/succed_box.png);
	position: relative;
	margin-left: -15px;
	margin-top: 120px;
	padding-top: 90px;
}

#registration-success-box #game-logo{
	left: 140px;
	top: -200px;
}

#registration-success-bottom{
	color: #7D6950;
	width: 595px;
	margin: 0 auto;
}

#registration-success-bottom p{
	font-size: 11px;
	margin-left: 5px;
}

#registration-success-step-shadow{
	width: 578px;
	height: 18px;
	background: url(../img/succed_shadow.png);
	margin: 0 auto;
	margin-top: 5px;
	margin-bottom: 20px;
}

#registration-success-name-box{
	width: 307px;
	height: 34px;
	background:url(../img/succed_name_box.png);
	margin: 0 auto;
	font-size: 20px;
	color: #B44943;
	text-align: center;
	font-style: italic;
	padding-top: 7px;
}

/* --------- Choose Hero ------------------ */

#choose-hero-wrapper{
	width: 672px;
	height: 672px;
	background:url(../img/succeed_after_box.png);
	position: relative;
	left: -11px;
}

	#choose-hero-wrapper .card{
		width: 189px;
		height: 289px;	
		float: left;
		margin-top: 270px;	
	    filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
	    filter: gray; /* IE6-9 */
	    -webkit-filter: grayscale(1);		
	    cursor: pointer;
	}

	#choose-hero-wrapper .card.active{
	    filter: none;
	    -webkit-filter: grayscale(0);		
	}

		#choose-hero-wrapper .card#warrior{
			margin-left: 55px;
			background: url(../img/succeed_after_hero_box_warrior.png);
		}

		#choose-hero-wrapper .card#mage{
			background: url(../img/succeed_after_hero_box_mage.png);
		}

		#choose-hero-wrapper .card#bow{
			background: url(../img/succeed_after_hero_box_bow.png);
		}

	#hero-url{
		width: 572px;
		height: 47px;
		background:url(../img/succeed_after_button_start.png);
		display: block;
		margin-left: 50px;
		margin-top: 28px;
	}

	#hero-url:hover{
		background: url(../img/succeed_after_button_start_hover.png);
	}


/* --------- Tool Tip ------------------ */

.tooltip{
	width: 33px;
	height: 30px;
	background: url(../img/register_qbox.png);
	position: absolute;
	margin-left: 273px;
	cursor: help;
}

/* --------- Helper Classes ------------ */

.textleft{ text-align: left; }
.fl{ float: left; }
.fr{ float: right; }
.clearfix{ clear: both; }

.col-half{
	width: 50%;
	float: left;
}

.tahoma{
	font-family: tahoma;
	font-size: 12px;
}